<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Smart Deals Layout Tool</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/clientPage.css">
<link rel="stylesheet" type="text/css" href="css/editable-content.css">
</head>

<body>
<div class="container">
	<div class="titleContain">
      <div class="back"><span class="backChevron"></span><a class="backBtn" href="http://gdl-l-gummuluri.us.ad.gannett.com/app">Back</a></div>
      <h2 class="clientTitle"><a name="toTop" class="jumpTag">{{client.client}}</a></h2>
      <img src="{{client.clientlogo}}" class="clientLogo">
  	</div>
    <div class="anchorContain">
    	<div class="anchor"><a href id="clientinfo" class="jumpTag">Client Information<a></div>
        <div class="anchor"><a href id="sitelinks" class="jumpTag">Site Links</a></div>
        <div class="anchor"><a href id="apitrackinginfo" class="jumpTag">API/Tracking Information</a></div>
        <div class="anchor"><a href id="compatibilityinfo" class="jumpTag">Compatibility Information</a></div>
        <div class="anchor"><a href id="siteaddons" class="jumpTag">Site Add-Ons</a></div>
        <div class="anchor"><a href id="clientfeatures" class="jumpTag">Client Features</a></div>
        <div class="anchor"><a href id="operationalinfo" class="jumpTag">Operational Information</a></div>
        <div class="anchor"><a href id="developmentinfo" class="jumpTag">Development Information</a></div>
    </div>
  <div class="podContainer">
      <div class="pod1 box">
      	<span class="edit">edit</span>
		<span class="save">save</span>
      	<div><a href class="jumpTag jumpToTop"></a></div>
        <h3 class="podTitle" id="clientInfoP"><a name="clientInfo" class="jumpTag">Client Information</a></h3>
            <div class="information">
                <h4>Client Colors:</h4>
                <div class="response text">{{client.clientcolors}}</div>
            </div>
            <div class="information">
                <h4>Platform:</h4>
                <div class="response text">{{client.platform}}</div>
            </div>
            <div class="information">
                <h4>Retail Segment:</h4>
                <div class="response text">{{client.retailsegment}}</div>
            </div>
            <div class="information">
                <h4>Retail SubSegment:</h4>
                <div class="response text">{{client.retailsubsegment}}</div>
            </div>
      </div>
      
      <div class="pod2 box2">
        <span class="edit2">edit</span>
		<span class="save2">save</span>
      	<div><a href class="jumpTag jumpToTop"></a></div>
        <h3 class="podTitle"><a name="siteLink" class="jumpTag">Site Links</a></h3>
           <div class="information">
                <h4>Beta URL</h4>
                <div class="response text"><a class="ellipsis" target="_blank" href={{client.betaurl}}>{{client.betaurl}}</a></div>
            </div>
            <div class="information">
                <h4>Primary URL</h4>
                <div class="response text"><a class="ellipsis" target="_blank" href={{client.primaryurl}}>{{client.primaryurl}}</a></div>
            </div>
            <div class="information">
                <h4>QA URL</h4>
                <div class="response text"><a class="ellipsis" target="_blank" href="{{client.qaurl}}">{{client.qaurl}}</a></div>
            </div>
            <div class="information">
                <h4>Secondary URL</h4>
                <div class="response text"><a class="ellipsis" target="_blank" href="{{client.secondaryurl}}">{{client.secondaryurl}}</a></div>
            </div>
            <div class="information">
                <h4>UAT URL</h4>
                <div class="response text"><a class="ellipsis" target="_blank" href="{{client.uaturl}}">{{client.uaturl}}</a></div>
            </div>
      </div>
      
      <div class="pod3 box3">
        <span class="edit3">edit</span>
		<span class="save3">save</span>
        <div><a href class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="apiInfo" class="jumpTag">API/Tracking Information</a></h3>
            <div class="information">
                <h4>API Version in Use</h4>
                <div class="response text">{{client.apiversion}}</div>
            </div>
            <div class="information">
                <h4>API Example URL</h4>
                <div class="response text"><a href="{{client.apiurlexample}}" class="ellipsis" target="_blank">{{client.apiurlexample}}</a></div>
            </div>
            <div class="information">
                <h4>Campaign ID</h4>
                <div class="response text">{{client.campaignid}}</div>
            </div>
            <div class="information">
                <h4>DCSID</h4>
                <div class="response text">{{client.dcsid}}</div>
            </div>
            <div class="information">
                <h4>PRetailerID</h4>
                <div class="response text">{{client.pretailerid}}</div>
            </div>
            <div class="information">
                <h4>RetailerID</h4>
                <div class="response text">{{client.retailerid}}</div>
            </div>
            <div class="information">
                <h4>Site ID</h4>
                <div class="response text">{{client.siteid}}</div>
            </div>
      </div>
      
      <div class="pod4 box4">
        <span class="edit4">edit</span>
		<span class="save4">save</span>
        <div><a href class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="compatibilityInfo" class="jumpTag">Compatibility Information</a></h3>
            <div class="information">
                <h4>Mobile Optimized</h4>
                <div class="response text">{{client.mobileoptimized}}</div>
            </div>
            <div class="information">
                <h4>Mobile Page Views</h4>
                <div class="response text">{{client.mobilepageviews}}</div>
            </div>
            <div class="information">
                <h4>Supported Browsers</h4>
                <div class="response text">{{client.supportedbrowserlist}}</div>
            </div>
            <div class="information">
                <h4>Tablet Optimized</h4>
                <div class="response text">{{client.tabletoptimized}}</div>
            </div>
      </div>
      
      <div class="pod5 box5">
        <span class="edit5">edit</span>
		<span class="save5">save</span>
        <div><a href class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="addOnInfo" class="jumpTag">Site Add-Ons</a></h3>
            <div class="information">
                <h4>Accessibility</h4>
                <div class="response text">{{client.accessibility}}</div>
            </div>
            <div class="information">
                <h4>Accessibility URL</h4>
                <div class="response text">{{client.accessibilityurl}}</div>
            </div>
            <div class="information">
                <h4>Facebook</h4>
                <div class="response text">{{client.facebooksite}}</div>
            </div>
            <div class="information">
                <h4>Facebook URL</h4>
                <div class="response text">{{client.facebooksiteurl}}</div>
            </div>
            <div class="information">
                <h4>Facebook Site ID</h4>
                <div class="response text">{{client.facebooksiteid}}</div>
            </div>
            <div class="information">
                <h4>Facebook DCSID</h4>
                <div class="response text text">{{client.dcsid}}</div>
            </div>
            <div class="information no">
                <h4>French</h4>
                <div class="response text">{{client.french}}</div>
            </div>
            <div class="information">
                <h4>French URL</h4>
                <div class="response text">{{client.frenchurl}}</div>
            </div>
            <div class="information">
                <h4>Sneak Peek</h4>
                <div class="response text">{{client.sneakpeek}}</div>
            </div>
            <div class="information">
                <h4>Sneak Peek URL</h4>
                <div class="response text"><a class="ellipsis" href="{{client.sneakpeek}}" target="_blank">{{client.sneakpeek}}</a>
                </div>
            </div>
            <div class="information">
                <h4>Spanish</h4>
                <div class="response text">{{client.spanish}}</div>
            </div>
            <div class="information">
                <h4>Spanish URL</h4>
                <div class="response text">{{client.spanishurl}}</a>
                </div>
            </div>
      </div>
      
      <div class="pod6 box6">
        <span class="edit6">edit</span>
		<span class="save6">save</span>
        <div><a href  class=" jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="clientFeatures" class="jumpTag">Client Features</a></h3>
            <div class="information">
                <h4>Add to Cart Integration</h4>
                <div class="response text">{{client.addtocart}}</div>
            </div>
            <div class="information">
                <h4>Content Dock</h4>
                <div class="response text">{{client.contentdock}}</div>
            </div>
            <div class="information">
                <h4>Coupons</h4>
                <div class="response text">{{client.coupons}}</div>
            </div>
            <div class="information">
                <h4>Dynamic Pages</h4>
                <div class="response text">{{client.dynamicpages}}</div>
            </div>
            <div class="information">
                <h4>Google Maps</h4>
                <div class="response text">{{client.googlemaps}}</div>
            </div>
            <div class="information">
                <h4>Header Footer Type</h4>
                <div class="response text">{{client.headerfooter}}</div>
            </div>
            <div class="information">
                <h4>Shopping List</h4>
                <div class="response text">{{client.shoppinglist}}</div>
            </div> 
            <div class="information">
                <h4>Social Sharing</h4>
                <div class="response text">{{client.socialsharing}}</div>
            </div>
            <div class="information">
                <h4>Store List NUEP</h4>
                <div class="response text">{{client.storelistnuep}}</div>
            </div>
            <div class="information">
                <h4>Video Support</h4>
                <div class="response text">{{client.videosupport}}</div>
            </div>
      </div>
      
      <div class="pod7 box7">
        <span class="edit7">edit</span>
		<span class="save7">save</span>
        <div><a href  class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="opInfo" class="jumpTag">Operational Information</a></h3>
            <div class="information">
                <h4>Account Manager Name</h4>
                <div class="response text">{{client.opsam}}</div>
            </div>
            <div class="information">
                <h4>CSD Name</h4>
                <div class="response text">{{client.csd}}</div>
            </div>
            <div class="information">
                <h4>OPS QC Entry Standards Link</h4>
                <div class="response text"><a class="ellipsis" href="{{client.opsqcstandardurl}}" target="_blank"  class="ellipsis">{{client.opsqcstandardurl}}</a></div>
            </div>
      </div>
       
      <div class="pod8 box8">
        <span class="edit8">edit</span>
		<span class="save8">save</span>
        <div><a href  class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="devInfo" class="jumpTag">Development Information</a></h3>
            <div class="information">
                <h4>Date of Last Regression Run</h4>
                <div class="response text">{{client.lastregressiondate}}</div>
            </div>
            <div class="information">
                <h4>Last Migrating Story Link (in Rally)</h4>
                <div class="response text">{{client.lastmigratingstory}}</div>
            </div>
            <div class="information">
                <h4>Last Migrating Package Link to Jira</h4>
                <div class="response text"><a class="ellipsis" href="{{client.lastmigratingpackage}}" target="_blank" class="ellipsis">{{client.lastmigratingpackage}}</a></div>
            </div>
            <div class="information">
                <h4>Regression Script URL</h4>
                <div class="response text"><a class="ellipsis" href="{{client.regressionscripturl}}"  target="_blank" class="ellipsis">{{client.regressionscripturl}}</a></div>
            </div>
      </div>
      <div class="cb"></div>
  </div>
</div>
<script src="scripts/jquery-2.1.1.min.js"></script>
<script src="scripts/editable-content.js"></script>
</body>
</html>