<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Smart Deals Layout Tool</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/clientPage.css">
</head>

  <body>

<div class="header_top">

      <div id="logo"><img src="images/logo.jpg"/></div>
      
</div>

<div class="header">
	<h1 class="main">Client Dashboard</h1>
</div>

<div class="container">
	<div class="titleContain">
      <h2 class="clientTitle"><a name="toTop" class="jumpTag">Walgreens</a></h2>
      <img src="http://img.walgreens.com/images/adaptive/share/images/logos/walgreens-logo-desktop.png" class="clientLogo">
  	</div>
    <div class="anchorContain">
    	<div class="anchor"><a href="#clientInfo" class="jumpTag">Client Information<a></div>
        <div class="anchor"><a href="#siteLink" class="jumpTag">Site Links</a></div>
        <div class="anchor"><a href="#apiInfo" class="jumpTag">API/Tracking Information</a></div>
        <div class="anchor"><a href="#compatibilityInfo" class="jumpTag">Compatibility Information</a></div>
        <div class="anchor"><a href="#addOnInfo" class="jumpTag">Site Add-Ons</a></div>
        <div class="anchor"><a href="#clientFeatures" class="jumpTag">Client Features</a></div>
        <div class="anchor"><a href="#opInfo" class="jumpTag">Operational Information</a></div>
        <div class="anchor"><a href="#devInfo" class="jumpTag">Development Information</a></div>
    </div>
  <div class="podContainer">
      <div class="pod1">
      	<div><a href="#toTop" class="jumpTag jumpToTop"></a></div>
        <h3 class="podTitle"><a name="clientInfo" class="jumpTag">Client Information</a></h3>
            <div class="information">
                <h4>Client Colors:</h4>
                <div class="response">blue/white</div>
            </div>
            <div class="information">
                <h4>Platform:</h4>
                <div class="response">MVC</div>
            </div>
            <div class="information">
                <h4>Retail Segment:</h4>
                <div class="response">Food and Drug</div>
            </div>
            <div class="information">
                <h4>Retail SubSegment:</h4>
                <div class="response">Drug</div>
            </div>
      </div>
      
      <div class="pod2">
      	<div><a href="#toTop" class="jumpTag jumpToTop"></a></div>
        <h3 class="podTitle"><a name="siteLink" class="jumpTag">Site Links</a></h3>
           <div class="information">
                <h4>Beta URL</h4>
                <div class="response"><a class="ellipsis" target="_blank" href="http://origin-qa01smartcircularmvc.shoplocal.com/CanadianTireSDV2">betascmvc.shoplocal.com/walgreens</a></div>
            </div>
            <div class="information">
                <h4>Primary URL</h4>
                <div class="response"><a class="ellipsis" target="_blank" href="http://origin-qa01smartcircularmvc.shoplocal.com/CanadianTireSDV2">http://walgreens.shoplocal.com</a></div>
            </div>
            <div class="information">
                <h4>QA URL</h4>
                <div class="response"><a class="ellipsis" target="_blank" href="http://origin-qa01smartcircularmvc.shoplocal.com/CanadianTireSDV2">http://origin-qa01smartcircularmvc.shoplocal.com/walgreens</a></div>
            </div>
            <div class="information">
                <h4>Secondary URL</h4>
                <div class="response"><a class="ellipsis" target="_blank" href="http://origin-qa01smartcircularmvc.shoplocal.com/CanadianTireSDV2">http://walgreens2.shoplocal.com</a></div>
            </div>
            <div class="information">
                <h4>UAT URL</h4>
                <div class="response"><a class="ellipsis" target="_blank" href="http://origin-qa01smartcircularmvc.shoplocal.com/CanadianTireSDV2">http://origin-u01smartcircularmvc.shoplocal.com/walgreens</a></div>
            </div>
      </div>
      
      <div class="pod3">
        <div><a href="#toTop" class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="apiInfo" class="jumpTag">API/Tracking Information</a></h3>
            <div class="information">
                <h4>API Version in Use</h4>
                <div class="response">2013.1</div>
            </div>
            <div class="information">
                <h4>API Example URL</h4>
                <div class="response"><a href="http://api2.shoplocal.com/retail/e4d5e311cadb36cb/2013.1/json/promotionpagelistingsandhotspots?storeid=2424938&promotionid=108911&promotioncode=walgreens-141130&languageid=1&resultset=full&listinglinks=n&sneakpeek=n&reviewsflag=n&heatindex=n&versionflag=y&promotionpageid=4625448" class="ellipsis" target="_blank">http://api2.shoplocal.com/retail/e4d5e311cadb36cb/2013.1/json/promotionpagelistingsandhotspots?storeid=2424938&promotionid=108911&promotioncode=walgreens-141130&languageid=1&resultset=full&listinglinks=n&sneakpeek=n&reviewsflag=n&heatindex=n&versionflag=y&promotionpageid=4625448</a></div>
            </div>
            <div class="information">
                <h4>Campaign ID</h4>
                <div class="response">e4d5e311cadb36cb</div>
            </div>
            <div class="information">
                <h4>DCSID</h4>
                <div class="response">dcsa2zguj10000sh06c3kotu6_9i7y</div>
            </div>
            <div class="information">
                <h4>PRetailerID</h4>
                <div class="response">-99389</div>
            </div>
            <div class="information">
                <h4>RetailerID</h4>
                <div class="response">12271</div>
            </div>
            <div class="information">
                <h4>Site ID</h4>
                <div class="response">1576</div>
            </div>
      </div>
      
      <div class="pod4">
        <div><a href="#toTop" class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="compatibilityInfo" class="jumpTag">Compatibility Information</a></h3>
            <div class="information">
                <h4>Mobile Optimized</h4>
                <div class="response">Yes</div>
            </div>
            <div class="information">
                <h4>Mobile Page Views</h4>
                <div class="response">Yes</div>
            </div>
            <div class="information">
                <h4>Supported Browsers</h4>
                <div class="response">Latest IE, Firefox, Chrome</div>
            </div>
            <div class="information">
                <h4>Tablet Optimized</h4>
                <div class="response">Yes</div>
            </div>
      </div>
      
      <div class="pod5">
        <div><a href="#toTop" class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="addOnInfo" class="jumpTag">Site Add-Ons</a></h3>
            <div class="information">
                <h4>Accessibility</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Accessibility URL</h4>
                <div class="response">n/a</div>
            </div>
            <div class="information">
                <h4>Facebook</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Facebook URL</h4>
                <div class="response">n/a</div>
            </div>
            <div class="information">
                <h4>Facebook Site ID</h4>
                <div class="response">1245 (Puerto Rico=1472)</div>
            </div>
            <div class="information">
                <h4>Facebook DCSID</h4>
                <div class="response">dcsgpb9wnvz5bdqg9uxrfxipi_4m2d (Puerto Rico=dcsdl4gb100000gcg95s3s3sp_6j5m)</div>
            </div>
            <div class="information">
                <h4>French</h4>
                <div class="response">no</div>
            </div>
            <div class="information">
                <h4>French URL</h4>
                <div class="response">n/a</div>
            </div>
            <div class="information">
                <h4>Sneak Peek</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Sneak Peek URL</h4>
                <div class="response"><a class="ellipsis" href="http://walgreens2.shoplocal.com/WalgreensSneakPeek/" target="_blank">http://walgreens2.shoplocal.com/WalgreensSneakPeek</a>
                </div>
            </div>
            <div class="information">
                <h4>Spanish</h4>
                <div class="response">no</div>
            </div>
            <div class="information">
                <h4>Spanish URL</h4>
                <div class="response">n/a</a>
                </div>
            </div>
      </div>
      
      <div class="pod6">
        <div><a href="#toTop" class=" jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="clientFeatures" class="jumpTag">Client Features</a></h3>
            <div class="information">
                <h4>Add to Cart Integration</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Content Dock</h4>
                <div class="response">no</div>
            </div>
            <div class="information">
                <h4>Coupons</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Dynamic Pages</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Google Maps</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Header Footer Type</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Shopping List</h4>
                <div class="response">no</div>
            </div> 
            <div class="information">
                <h4>Social Sharing</h4>
                <div class="response">yes</div>
            </div>
            <div class="information">
                <h4>Store List NUEP</h4>
                <div class="response">no</div>
            </div>
            <div class="information">
                <h4>Video Support</h4>
                <div class="response">yes</div>
            </div>
      </div>
      
      <div class="pod7">
        <div><a href="#toTop" class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="opInfo" class="jumpTag">Operational Information</a></h3>
            <div class="information">
                <h4>Account Manager Name</h4>
                <div class="response">Chris Stone</div>
            </div>
            <div class="information">
                <h4>CSD Name</h4>
                <div class="response">Patty Fernandez</div>
            </div>
            <div class="information">
                <h4>OPS QC Entry Standards Link</h4>
                <div class="response"><a class="ellipsis" href="https://wiki.godigitalmarketing.com/display/CONPRO/Walgreen%27s+QC+Standards" class="ellipsis">https://wiki.godigitalmarketing.com/display/CONPRO/Walgreen%27s+QC+Standards</a></div>
            </div>
      </div>
      
      <div class="pod8">
        <div><a href="#toTop" class="jumpToTop jumpTag"></a></div>
        <h3 class="podTitle"><a name="devInfo" class="jumpTag">Development Information</a></h3>
            <div class="information">
                <h4>Date of Last Regression Run</h4>
                <div class="response">11/19/2014</div>
            </div>
            <div class="information">
                <h4>Last Migrating Story Link (in Rally)</h4>
                <div class="response">11/19/2014</div>
            </div>
            <div class="information">
                <h4>Last Migrating Package Link to Jira</h4>
                <div class="response">11/19/2014</div>
            </div>
            <div class="information">
                <h4>Regression Script URL</h4>
                <div class="response">11/19/2014</div>
            </div>
      </div>
      <div class="cb"></div>
  </div>
</div>
        
</body>
</html>