

<div class="container">
   <div class="wrapper">
    <div class="form">
	  <p class="formTittle">Client Name:</p>  	
		
		<select id="selectClient" name="selectClient" ng-change="selectClient()" ng-model="selectedClientValue">
            <option value="default"></option>
<!--            <option value="1">Aarons</option> 	  
            <option value="2">Home Depot SD</option>
            <option value="3">Boscov's</option>
            <option value="4">Staples</option>
            <option value="5">Canadian Tire</option>
            <option value="6">BrandSmart USA</option>
            <option value="7">Michaels Canada</option>
            <option value="8">Michaels</option>
            <option value="9">Dillard's</option> 
            <option value="10">Walgreens</option>-->
            <option value="{{client.Id}}" ng-repeat="client in clients">{{client.client}}</option>
		</select>
	</div>
</div>

<!--<br/>Client: <input type="text" id="clientName">
	<div id='clientSuggestions'></div>
-->
<div class="wrapper">
    <div class="form">
	  <p class="formTittle">Features:</p>
	<select id="selectFeature" name="selectFeature" ng-change="selectFeature()" ng-model="selectFeatureValue">
		<option value="default"></option>
		<option value="1">API Version in Use</option>
		<option value="2">Platform Usage</option>
		<option value="3">CSD Name</option> 
		<option value="4">Mobile Optimized</option>
		<option value="5">Tablet Optimized</option>
		<option value="6">Spanish</option>
		<option value="7">French</option>
		<option value="8">Sneak Peek</option>
		<option value="9">Facebook</option>
		<option value="10">Dynamic Pages</option>
		<option value="11">Google Maps</option>
	</select>
 </div>



<div ng-show="platform" class="form">
	<p class="formTittle">Platform:</p>
	<select id="selectPlatform" name="selectPlatform" ng-change="selectPlatform()" ng-model="selectPlatformValue">
		<option value="default"></option>
		<option value="API/Content">API/Content</option>
		<option value="MVC">MVC</option> 
		<option value="MVC - Catalog">MVC - Catalog</option> 
		<option value="MVC - Coupon">MVC - Coupon</option> 
		<option value="SC Standard">SC Standard</option>
		<option value="SC2">SC2</option>
		<option value="SmartCatalog-HTML">SmartCatalog-HTML</option>
		<option value="SmartDeals">SmartDeals</option>
	</select>
</div>


<div ng-show="apiversion" class="form">
	<p class="formTittle">Api Version:</p>  
	<select id="selectApiVersion" name="selectApiVersion" ng-change="selectApiVersion()" ng-model="selectApiVersionValue">
		<option value="default"></option> 	
		<option value="2013.1">2013.1</option> 
		<option value="2012.2">2012.2</option>
		<option value="2012.1">2012.1</option>
		<option value="scapi">scapi</option>
	</select>
	
</div>

<div ng-show="csdname" class="form">
	<p class="formTittle">CSD Name:</p> 
	<select id="selectCsdName" name="selectCsdName" ng-change="selectCsdName()" ng-model="selectCsdNameValue">
	  	<option value="default"></option>        
        <option value="Anna Dundon">Anna Dundon</option> 	
        <option value="Bret Campion">Bret Campion</option> 	
        <option value="Chris Stone">Chris Stone</option> 	
	  	<option value="John Gross">John Gross</option>
		<option value="Lance Thomas">Lance Thomas</option>
        <option value="Samantha Simmons">Samantha Simmons</option> 
	  	<option value="Zach Cox">Zach Cox</option>

        
	</select>
	
</div>

<div ng-show="other" class="form">
	<select id="selectYN" name="selectYN" ng-change="selectYN()" ng-model="selectYNValue">
	  	<option value="default"></option> 	
	  	<option value="Y">Yes</option> 
	  	<option value="N">No</option>
	</select>
 </div>	

	<ul class="list">

		<li class="headline">Results</l1>
		<li ng-repeat="client in filterClients">
            <a href ng-click=gotoClient(client.Id)>{{client.client}}</a>
        </l1>

	</ul>
 </div>
</div>