body {
  font-family: 'Source Sans Pro', sans-serif;
}

.box {
  
}

.editable {
  border-color: #bd0f18;
  background: #f2f2f2;
}

.text {
  outline: none;
}

.edit, .save {
  width: 50px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  text-align: center;
  cursor: pointer;
}

.edit { 
  background: #557a11;
  color: #f0f0f0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.save {
  display: none;
  background: #bd0f18;
  color: #f0f0f0;
}

.box:hover .edit {
  opacity: 1;
}